<h1>Weather Forecast</h1>
<%= form_with url: forecasts_path, method: :post do |form| %>
  <%= form.label :query, "Address:" %>
  <%= form.text_field :query %>
  <%= form.submit "Get forecast" %>
<% end %>
<br />
<em>Geocoding data provded by © <%= link_to 'OpenStreetMatp', 'https://www.openstreetmap.org/copyright' %> contributors.</em>
