<h1>Forecast for <%= @location.postal_code %></h1>
<img src=<%= @forecast.icon %> alt="Icon from National Weather Service indicating current conditions" />
<div>Current temperature is <%= "#{@forecast.temperature}° #{@forecast.temperature_unit}" %></div>
<div><%= @forecast.short %></div>

<div>Forecast valid from <%="#{@forecast.start_time.to_fs(:long)} to #{@forecast.end_time.to_fs(:long)}." %></div>

<%= link_to 'Look up new address', root_path %>
