<h1>Forecast for <%= @location.postal_code %></h1>
<div>
	<h2>Current temperature is <%= "#{@forecast.temperature}° #{@forecast.temperature_unit}" %></h2>
	<h3><%= @forecast.short %></h3>
	<em><%= @forecast.detailed %></em>
</div>

<div>
	<pre>Forecast valid from <%="#{@forecast.start_time.to_fs(:long)} UTC to #{@forecast.end_time.to_fs(:long)} UTC." %></pre>
	<pre>Data retrieved <%= time_ago_in_words(@forecast.created_at) %> ago.</pre>
	<pre>Provided by <%= link_to 'National Weather Service', 'https://www.weather.gov/documentation/services-web-api' %>.
</div>

<%= link_to 'Look up new address', root_path %>
